# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/
*.env

# IDE
.idea/
.vscode/

# Logs
logs/

# Dependencies
venv/
lib/
lib64/
local/
build/
dist/
node_modules/
pip-log.txt
pip-delete-this-directory.txt

# Configuration
config.ini

# Miscellaneous
*.log
*.swp
.DS_Store
